*{
    margin: 0px;
    padding: 0px;
}
.parent{
    margin: 40px;
    padding: 40px;
    height: 200px;
    width:  350px;
    position: relative;
    display: inline-block;
    border: 2px solid green;
}
.box1{
    width: 200px;
    height: 200px;
    background-color:pink;
    display: inline-block;
    /* position: absolute; */
    position: fixed;
    left: 100px;

    
}
.box2{
    width: 200px;
    height: 200px;
    background-color: red;
    display: inline-block;
    /* position: absolute; */
    position: static;
    top: 100px;
    

}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(75, 35, 221);
    display: inline-block;
    /* position: absolute;  */
     position: sticky; 
    
    top: 40px;

}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(28, 207, 43);
    display: inline-block;
    position: absolute;
    bottom: 30px;
}
