*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
.parent{
    margin: 40px;
    padding: 40px;
    height: 200px;
    width:  350px;
    position: relative;
    display: inline-block;
    border: 2px solid green;
}
.box1{
    width: 200px;
    height: 200px;
    background-color:pink;
    display: inline-block;
    /* position: absolute; */
    position: fixed;
    left: 100px;
    border: 2px solid rgb(49, 169, 220);

    
}
.box2{
    width: 200px;
    height: 200px;
    background-color: red;
    display: inline-block;
    /* position: absolute; */
    position: static;
    top: 100px;
    border: 6px solid rgb(31, 232, 222);
    

}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(75, 35, 221);
    display: inline-block;
    /* position: absolute;  */
     position: sticky; 
     border: 10px solid rgb(8, 19, 8);
    top: 40px;

}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(28, 207, 43);
    display: inline-block;
    position: absolute;
    bottom: 30px;
}
